html {
    user-select: none;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    /*background-image: url(/src/assets/fondo-ruido3.png);*/
    --bs-body-bg: #111417;
    --bs-body-color: #fff;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.campos{
    display: grid;
    place-items: center;
}

.filas{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.filas > div{
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(181, 181, 181);
    border-radius: 15px;
    margin: 5px;
    font-size: 28px;
    background-image: url(/src/assets/fondo-ruido.png);
    font-family: 'Courier New', Courier, monospace;
}

.form-control{
    margin-bottom: 60px;
}

.respuesta{
    display: flex;
    flex-direction: row;
}

.form-control{
    text-align: center;
}

.palabra{
    margin: 6px;
    height: 50px;
    width: 50px;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 28px;
}


.btn{
    padding: 10px 100px 10px 100px;
    --bs-btn-bg: black;
    background-color: var(--bs-btn-bg);
    border-color: black;
    margin-top: 30px;
}